@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
  display: flex;
}

.section-description{
  margin-bottom: 2rem;
} 

.section-title{
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.text-primary{
  color: #FF900E;
}

.dark-1{
  color: rgba(19, 19, 19, 1);
}

.dark-2{
  color: rgba(66, 66, 66, 1);
}

.dark-3{
  color: rgba(114, 114, 114, 1);
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 24px;
  border-radius: 8px;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
}
.text-center{
  text-align: center;
}

/* main styles */
main section{
  margin: 130px 0;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}

/* header styles */


/* nav */
.navbar{
  justify-content: space-between;
  max-width: 1440px;
  padding: 50px 40px 100px;
  align-items: center;
  margin: 0 auto;
}
.brand{
  font-weight: 700;
  font-size: 2.8rem;
}
.nav-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin-right: 30px;
}

/* banner styles */
.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-info{
  max-width: 850px;
  text-align: center;
  margin-bottom: 50px;
}
.banner-description{
  margin-bottom: 2rem;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
}
.banner-img{
  max-width: 100%;
}

/* team styles */
.team{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-right: 130px;
}
.our-features{
  max-width: 470px;
}

#quick-list{
  font-size: 2.8rem;
  font-weight: 500;
}

/* some facts styles */

.fact-card-container{
  display: grid;
  grid-template-columns: repeat(4, 240px);
  justify-content: space-around;
  margin-top: 100px;
}
.fact-card > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 240px;
  border: 1px solid #FF900E;
  border-radius: 8px;
}

.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
}
.fact-title{
  font-size: 1.25rem;
  font-weight: 600;
}

/* our sponsors styles */
.sponsor-info{
  margin: 0 auto;
  max-width: 540px;
}
.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 50px;
}
.sponsor-companies img{
  filter: grayscale(100%);
}

/* small device responsive media query */

@media screen and (max-width:768px){
  .navbar,.nav-links,.team{
    flex-direction: column;
    padding: 20px;
  }
  .navbar ul > li{
    margin-bottom: 10px;
    margin-right: 0;
  }
  .brand{
    margin-bottom: 20px;
  }
  .banner-info{
    padding: 10px;
  }
  .banner-title{
    font-size: 3.2rem;
  }
  main section{
    margin: 50px 0 0 0;
  }
/*   .team{
    margin: 50px 0 0 0;
  } */
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
    margin-right: 0;
  }
  .team-img-container img{
    width: 100%;
  }
  .our-features{
    padding: 10px;
    margin-top: 64px;
  }
  .facts{
    padding: 50px;
    margin-top: 0;
  }
  .fact-card-container{
    grid-template-columns: repeat(1, 240px);
    justify-content: center;
    margin-top: 50px;
    gap: 40px;
  }
  .sponsor-companies{
    grid-template-columns: repeat(1, 50px);
    justify-content: center;
    width: 80%;
    gap: 40px;
  }

}

/* medium device responsive media query */

@media screen and (min-width:768px) and (max-width:992px) {
  .navbar,.facts{
    padding: 50px;
  }
  main section{
    margin: 64px 0;
  }
  .team{
    flex-direction: column;
    margin: 64px 0;
  }

  .team-img-container {
    margin: 20px 0 70px;
  }
  .our-features{
    max-width: 500px;
  }
  .fact-card-container{
    grid-template-columns: repeat(2, 240px);
    justify-content: space-around;
    gap: 80px;
    margin-top: 50px;
  }
  .sponsor-companies{
    grid-template-columns: repeat(3, 180px);
    gap: 50px;
    justify-content: center;
  }
}